<h1 style="color:blue"> PROYECTO 1. Corrección de Curvas </h1>
 
### Simulación Matemática
### Profesor: Cristian Zapata
### Integrantes : 
+ Estephanie Mendivil 
+ Adolfo Mriscal 
+ Francisco Gonzalez

I. <Strong><font color="green">Introducción </font> </Strong>

![Alt text](https://i1.wp.com/www.sopitas.com/wp-content/uploads/2019/04/interjet.jpg)

> <p style='text-align: justify;'> 
En ciencias e ingeniería es frecuente que un experimento
produzca un conjunto de datos $$(x_1, y_1)\dots (x_N, y_N).$$
siendo las abcisas $$({x_K})$$distintas entre sí.

</p>

> <p style='text-align: justify;'> 
Uno de los objetivos del cálculo numérico es la
determinación de una fórmula $$ y = f(x)$$ que relacione las
variables (ajustar una curva a datos experimentales).
</p>

> <p style='text-align: justify;'> 
Normalmente se dispone de una serie de fórmulas
previamente establecidas, y lo que hay que hallar son los
valores más adecuados de unos coeficientes o unos
parámetros para estas fórmulas.</p>

II. <Strong><font color="green"> Planteamiento del Problema </font> </Strong>

> <p style='text-align: justify;'> Para el proyecto elegimos las salidas registradas de transporte desde los aeropuertos, decidimos centrarnos en México y es necesario polinomio que mejor se ajuste por medio del algoritmo programado, así podremos realizar estimaciones para años futuros y poder prever la cantidad de pasajeros en años futuros

</p>

III. <Strong> <font color="green">  Resultados

In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import pandas as pd

In [3]:
file= 'Vuelos_anuales_int.csv'
data= pd.read_csv(file, header=None)
data

         0       1
0      NaN       0
1   1970.0   56500
2   1971.0   49600
3   1972.0   54800
4   1973.0   91200
5   1974.0  101600
6   1975.0  112100
7   1976.0  115300
8   1977.0  111900
9   1978.0  115200
10  1979.0  129300
11  1980.0  177100
12  1981.0  151800
13  1982.0  144800
14  1983.0  202300
15  1984.0  200700
16  1985.0  204600
17  1986.0  187100
18  1987.0  189000
19  1988.0  141400
20  1989.0  152200
21  1990.0  177300
22  1991.0  189300
23  1992.0  228400
24  1993.0  246600
25  1994.0  272100
26  1995.0  225100
27  1996.0  222700
28  1997.0  264100
29  1998.0  292100
30  1999.0  328300
31  2000.0  290412
32  2001.0  292208
33  2002.0  278456
34  2003.0  287017
35  2004.0  330441
36  2005.0  331225
37  2006.0  317856
38  2007.0  309633
39  2008.0  266244
40  2009.0  222356
41  2010.0  445796
42  2011.0  386063
43  2012.0  415279
44  2013.0  435792
45  2014.0  457921
46  2015.0  508614
47  2016.0  555984
48  2017.0  567879